<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Thermo control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style type="text/css">
    .container {
        margin-top: 24px;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Thermostat Control Panel
                </h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <p><a href="{% url 'control:index' %}">Control</a></p>
                </li>
                <li class="list-group-item">
                    <p><a href="{% url 'templog:index' %}">Log</a></p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>